html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

body {
  background-color: #000040;
  padding: 1.4rem;
}

.coin_app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #fff;
}

/* Layout CSS */
.layout {
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
    justify-content: center;
    width: 290px;
    margin: 0 auto;
    background: #000040;
    z-index: 1;
    position: relative;
    height: 70px;
    
}
.coin_logo {
  height: 200px;
  width: 200px;
}

.MuiPagination-root *{
  color: #fff !important
}
.MuiPaginationItem-page.Mui-selected {
  background-color: rgb(255 254 254) !important;
  color: #000040 !important;
}

@media (max-width: 768px) {
  .coin_app {
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    color: #fff;
    padding-bottom: 70px;
}
.MuiPagination-root {
  position: fixed;
  bottom: 0;
  background: #fff;
  left: 0;
  height: 70px;
}

.MuiPagination-root * {
  color: #000040 !important;
}
.MuiPaginationItem-page.Mui-selected {
  background-color: #000040 !important;
  color: rgb(255 254 254) !important;
}

}